nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    h1 {
        font-size: 5vw;
        font-weight: bold;
    }

    a {
        margin: 0 1rem;
        font-size: 2.5vw;
        color: rgb(255, 124, 180); 
    }
}