nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    h1 {
        font-size: 3vw;
        font-weight: 700;
        color: white;
    }

    a {
        margin: 0 1rem;
        font-size: 2vw;
        font-weight: 100;
        color: white;
    }
}