

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
